@{
    ViewData["Title"] = "Home Page";
}
<img src="https://img.freepik.com/free-vector/teen-game-room-interior_80328-2.jpg?t=st=1657097330~exp=1657097930~hmac=885e8cf40211f0b62dd44a93d53c51bcd81d4d3d7ce378bfaf19def042fcb54d&w=1380"/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Gaming forumn where to discuss video games and... ect.. add to</p>
</div>
