@model IEnumerable<GamerForums.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<button>
    <a asp-action="Create">Create New</a>
</button>
<table class="table">
    <img src="https://www.npd.com/wp-content/uploads/2021/05/video-games-banner-1440x480.jpeg"/>
    <hr/>
    <thead>
        <tr>
            <th>
                Posts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                   <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.jokeQuestion) </a>
                </td>
                <td></td>                  
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
